@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-100: #f7f3f6;
  --color-gray-200: #f4e6f0;
  --color-gray-300: #7a6e76;
  --color-gray-400: #332e32;
  --color-blue-light: #8ccfe0;
  --color-blue-base: #307b90;
  --color-blue-dark: #355e69;
  --color-cloudy-light: #2d3e43;
  --color-cloudy-base: #272c2e;
  --color-cloudy-dark: #191c1d;

  --font-sans: "Robot", sans-serif;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
}
